/* Empty. Add your own CSS if you like */
.bloc {
    border: 1px solid black;
    margin-top: 20px;
}
.btnW {
    height: 40px;
    padding: 0px 20px 0px 20px;
    border: 2px solid;
    border-radius:10px;
    border-color: darkred;
    color:red;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, red 50%, white 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    margin-left: -45px;
    margin-top: 50px;
}
.btnW:hover {
    background-position: 0 100% ;
    color:white; 
}
h1 {
    text-align: center;
}
