<ion-view view-title="{{title}}">
  <ion-header-bar>
  </ion-header-bar>
  <ion-content>

  <button class="button" ng-click="switchDisplay()">{{switchBtn}}</button>


   <form ng-if="switchState" ng-submit="doSignUp()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="login.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="login.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Ckeck password</span>
          <input type="password" ng-model="login.ckeckPassword">
        </label>

        <label class="item item-input">
          <span class="input-label">Your email</span>
          <input type="email" ng-model="login.email">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Connect</button>
        </label>
      </div>
    </form>


    <form ng-if="!switchState" ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Connect</button>
        </label>
      </div>
      <a href="">Mot de passe oublié?</a>
    </form>
  </ion-content>
</ion-view>
