<ion-view view-title="{{title}}">
  <ion-header-bar>
  </ion-header-bar>
  <ion-content>

  <button class="button" ng-click="switchDisplay()">{{switchBtn}}</button>


   <form ng-if="switchState" name="userForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" 
          ng-model="user.username"
          required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password"
          ng-model="user.password"
          required>
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm password</span>
          <input type="password" ng-model="confirmPassword">
        </label>

        <label class="item item-input">
          <span class="input-label">Your email</span>
          <input type="email"
          ng-model="user.email"
          required>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="doSignUp()">Connect</button>
        </label>
      </div>
    </form>


    <form ng-if="!switchState" ng-submit="doLogin()" name="user">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Connect</button>
        </label>
      </div>
      <a href="">Mot de passe oublié?</a>
    </form>
  </ion-content>
</ion-view>
