<ion-view view-title="Créer une soirée" ">


  <ion-content>
    <ion-list>

    	<form name="partyForm">
            

                <label class="item item-input">
          		    <input type="text" 
                      placeholder="Nom de la soirée" 
                      ng-model="party.name" 
                      required>
    		        </label >
            
        		    <label class="item item-input">
    		           <input
                      type="date"
                      required 
                      ng-model="party.date">
        		    </label>

            <label class="item item-input">
		          <input type="text"
              placeholder="Organisateur moi et ..." 
              ng-model="party.promoter">
            </label>
        
            <label class="item item-input">
  		        <input type="number"
              placeholder="de 1 à +"
              ng-model="party.nbPlace"
              required>
            </label

            <div class="card">
              <div class="item royal item-text-wrap">
                  <textarea 
                class="form-control" 
                rows="3" 
                placeholder="Description de la soirée"
                ng-model="party.description"
                required></textarea>
               </div>  
            </div> 


    		    <label class="col text-center" >
              <h5 class="white text-center">Prix de la soirée</h5>
              <h6 class="white text-center">(par personne)</h6>
            </label>

      		    <label class="item item-input">
                <span class="input-label">Soft :</span>
                <input type="number"
                  class="form-control"
                  placeholder="0"
                  ng-model="party.softPrice">
              </label>

              <label class="item item-input">
                <span class="input-label">Alcool :</span>
                <input type="number"
                  class="form-control"
                  placeholder="0"
                  ng-model="party.alcoholPrice">
              </label>

              <label class="item item-input">
                <span class="input-label">Repas :</span>
                <input type="number"
                  class="form-control"
                  placeholder="0"
                  ng-model="party.toEatPrice">
              </label>

                  <div class="card">
                    <div class="item item-text-wrap">
                      <ion-checkbox type="checkbox"
                          class="checkbox-dark-royal "
                          ng-model="party.freePrice"
                          checked ng-model="filter.prices-empty">
                            Prix libre par personne
                      </ion-checkbox> 
                    </div>
                  </div>

                  
                  <div class="col text-center" >
                    <button
                      type="submit"
                      ng-click="createParty()"
                      class="button button-large dark-royal borderless validate">Valider
                   </button>
                  </div>

        </form>
        
    </ion-list>
  </ion-content>
</ion-view>
